@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,400;0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  font-family: 'Exo', sans-serif;
  font-weight: 500;
}

p {
  color: #717171;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  text-transform: uppercase;
  font-size: 16px;
  color: white;

  background-color: $red;
  border-radius: .3em;
}

.title {
  color: $red;
  text-transform: uppercase;
}

.subtitle{
  display: inline-block;

  font-size: 40px;
  line-height: 50px;
  margin-bottom: 40px;
  margin-top: 15px;
}


.point {
  display: inline-block;

  width: 5px;
  height: 5px;

  background-color: $red;
}

@media (max-width: 548px) {
  .subtitle {
    margin: 0 0 20px 0;

    font-size: 36px;
  }
}
